<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" href="styles.css">
		<title>Page Title</title>
	</head>
	<body>
		<h1>Service 4 Hooman</h1>
		
		<!-- get user_data -->
		<form th:action="@{/get}" method="POST">
			<input type="submit" value="submit"><br>
		</form>
		<table th:if="${users}" border="1" style="float: right">
	        <th:block th:each="user : ${users}">
	            <tr>
	                <td th:text="${user.firstname}">...</td>
	                <td th:text="${user.lastname}">...</td>
	                <td th:text="${user.username}">...</td>
	                <td th:text="${user.password}">...</td>
	                <td th:text="${user.email}">...</td>
	                <td th:text="${user.phone}">...</td>      
	            </tr>
	        </th:block>
    	</table>
    	
    	<!-- search by user name from user_data -->
    	<form th:action="@{/get2}" method="POST">
    		Search: <input type="text" name="searchUser" placeholder="searchByUsername"><br>
    		<input type="submit" value="search">
    	</form>
    	<table th:if="${usernames}" border="1" style="float: right">
	    	<tr>
	    		<td th:text="${usernames}">...</td>
	    	</tr>
    	</table>
	</body>
</html>